<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prestasi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
          crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/static.css}" />
    <link rel="icon" th:href="@{/favicon.ico}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-danger text-center">
            <div class="container text-center my-4">
                <div class="row">
                    <div class="col-2">
                        <img th:src="@{/sekolah.png}" class="img-thumbnail logo w-50" alt="Logo Sekolah" />
                    </div>
                    <div class="col-9">
                        <div class="row row-cols-1">
                            <div class="col text-center">
                                <h1 class="text-white">SD NEGERI 88 MANADO</h1>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-9"></div>
                                    <div class="col-1">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link text-white fw-bold" href="#">Beranda</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                                                                                  data-bs-toggle="dropdown"
                                                                                                  aria-expanded="false">
                                                    Profil
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#deskripsi">Deskripsi</a></li>
                                                    <li><a class="dropdown-item" href="#visiMisi">Visi & Misi</a></li>
                                                    <li><a class="dropdown-item" href="#strukturOrganisasi">Struktur
                                                            Organisasi</a></li>
                                                    <li><a class="dropdown-item" href="#program">Program</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">Berita</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">Galeri</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                                                                                  data-bs-toggle="dropdown"
                                                                                                  aria-expanded="false">
                                                    Informasi Sekolah
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Prestasi</a></li>
                                                    <li><a class="dropdown-item" href="#">Ekstrakurikuler</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">Kontak</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <!-- beranda -->
    <main class="d-flex flex-column align-items-center">
        <div class="w-75">
            <div class="mb-3 text-start">
                <a th:href="@{/admin/prestasi/tambah}" class="btn btn-success">Tambah Berita</a>
            </div>
            <table class="table table-secondary table-striped table-hover">
                <thead>
                <tr>
                    <td>No</td>
                    <td>Judul</td>
                    <td>Gambar</td>
                    <td>Tanggal</td>
                    <td>Aksi</td>
                </tr>
                </thead>
                <tbody>
                <tr id="baris" th:each="achievement, iterStat : ${listAchievement}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${achievement.description}"></td>
                    <td><img th:src="@{'/images/' + ${achievement.imageUrl}}" alt="Gambar Prestasi" width="100" height="80"></td>
                    <td th:text="${achievement.date.toString().substring(0, 10)}"></td>
                    <td>
                        <a th:href="@{/admin/prestasi/edit(id=${achievement.id})}" class="btn btn-primary btn-sm">Edit</a>
                        <a th:href="@{/admin/prestasi/delete(id=${achievement.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Apa kamu yakin?')">Hapus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                                                      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                                                      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"
                                                      integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+"
                                                      crossorigin="anonymous"></script>
</body>

</html>